@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-Bold.eot');
  src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Bold.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.eot');
  src: local('Cormorant Garamond SemiBold Italic'), local('CormorantGaramond-SemiBoldItalic'),
  url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.eot');
  src: local('Cormorant Garamond SemiBold'), local('CormorantGaramond-SemiBold'),
  url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.eot');
  src: local('Cormorant Garamond Bold Italic'), local('CormorantGaramond-BoldItalic'),
  url('../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-LightItalic.eot');
  src: local('Cormorant Garamond Light Italic'), local('CormorantGaramond-LightItalic'),
  url('../fonts/CormorantGaramond/CormorantGaramond-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-LightItalic.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-Italic.eot');
  src: local('Cormorant Garamond Italic'), local('CormorantGaramond-Italic'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Italic.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-Medium.eot');
  src: local('Cormorant Garamond Medium'), local('CormorantGaramond-Medium'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Medium.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-Light.eot');
  src: local('Cormorant Garamond Light'), local('CormorantGaramond-Light'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Light.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-Regular.eot');
  src: local('Cormorant Garamond Regular'), local('CormorantGaramond-Regular'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Regular.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.eot');
  src: local('Cormorant Garamond Medium Italic'), local('CormorantGaramond-MediumItalic'),
  url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff') format('woff'),
  url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

//gilroy

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-ExtraboldItalic.eot');
  src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
  url('../fonts/Gilroy/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-ExtraboldItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
  url('../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Black.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('../fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
  url('../fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
  url('../fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
  url('../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
  url('../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-SemiboldItalic.eot');
  src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
  url('../fonts/Gilroy/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-SemiboldItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
  url('../fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
  url('../fonts/Gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Extrabold.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Extrabold.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
  url('../fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
  url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
  url('../fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-LightItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
  url('../fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
  url('../fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Thin.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
  url('../fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


//gilroy
//variables
$main-font: Cormorant Garamond, serif;
$second-font: 'Gilroy', sans-serif;
$white-color: #ffffff;
$black-color: #000000;

$p-color: #464646;
$title-color: #2a2a2a;
$p-white: #d0d0d0;
$line-color: #dfdfdf;
$orange-color: #bb8459;

$grey-color: #3a3a3a;

//variables


html, body {
  margin: 0;

}


html, body {
  scrollbar-color: #2a2a2a transparent; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: 12px; /* толщина */
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: transparent;
  position: fixed;
  overflow: hidden;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(180, 103, 26) 0%, rgb(244, 199, 136) 0%, rgb(231, 196, 137) 0%, rgb(202, 138, 90) 100%);;
  border-radius: 12px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: $orange-color;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

//#farba-welcome {
//  //transform: translate(0, 300px);
//  //opacity: 0;
//  transition: transform 0.6s ease, opacity 0.6s ease;
//  & .simple-block__img {
//    opacity: 0;
//    transition: opacity 0.6s;
//  }
//  & .simple-block__text-part {
//    opacity: 0;
//    transform: translate(200px, 0);
//  }
//}
#farba-welcome.visible {
  //transform: translate(0, 0);
  //opacity: 1;
  transition: transform 0.6s ease, opacity 0.6s ease;

}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-grow: 1;

}

main {
  flex-grow: 1;
  width: 100%;
  //padding-left: 120px;
  box-sizing: border-box;
}

.container-big {
  margin: 0 auto;
  max-width: 1750px;
  box-sizing: border-box;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1430px;
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
}

.farba-header {
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 100;
  //bottom: 0;
  background: $white-color;
  box-shadow: 0 3px 44px 0 rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 30px 12px;

  .container {
    height: 100%;
    z-index: 2;
  }

}

.farba-header__navigation {
  position: fixed;

  top: 0;
  left: 120px;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  flex-direction: column;
  transition: visibility 0.8s, opacity 0.8s;
  pointer-events: none;

  &.visible {
    //display: flex;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

}

.farba-header__menu {
  background: #18181f;
  z-index: 2;
  box-shadow: 0 3px 44px 0 rgba(0, 0, 0, 0.08);
  height: 135px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  > svg.svg-animated {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -50%);

    > circle {
      stroke: $white-color;
      stroke-dasharray: 130%;
    }

    > text {
      fill: $white-color;
    }
  }

  > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;

    > li {
      padding-right: 8vw;
      box-sizing: border-box;

      &:last-child {
        padding-right: 0;
      }

      > a {
        font-family: $main-font;
        font-weight: 300;
        font-size: 36px;
        line-height: 32px;
        text-decoration: none;
        border-bottom: 1px solid $white-color;
        color: $white-color;
        transition: color 0.3s ease, border-bottom-color 0.3s ease;

        &:hover {
          border-bottom-color: $orange-color;
          color: $orange-color;
          transition: color 0.3s ease, border-bottom-color 0.3s ease;
        }
      }
    }
  }
}

.farba-header__submenu {
  width: 100%;
  flex-grow: 1;
  //background: white;
  background: transparent;

  > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;

    > li {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: calc(100% / 6);
      border-right: 1px solid #626262;
      box-sizing: border-box;
      background: $black-color;
      display: flex;
      overflow: hidden;

      &:last-child {
        border-right: none;

        > a {
          > div {
            justify-content: flex-end;
          }
        }
      }

      > a {
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
          > div {
            > img {
              transform: scale(1.2);
              transition: transform 0.3s ease-in-out;
            }
          }

          > p {
            color: $orange-color;
            transition: color 0.3s ease;
          }
        }

        > div {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          background: $black-color;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform-origin: 50% 50%;
            transition: transform 0.3s ease-in-out;
          }
        }

        > p {
          position: relative;
          font-family: $main-font;
          font-weight: 600;
          font-size: 32px;
          line-height: 36px;
          color: $white-color;
          text-align: center;
          text-decoration: none;
          padding: 0 20px;
          letter-spacing: 1px;
          box-sizing: border-box;
          transition: color 0.3s ease;
        }
      }
    }
  }
}

.farba-header__container {
  display: flex;
  width: 66px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  //width: 100%;
}

.farba__burger-button {
  width: 36px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &.opened {
    span {
      border-radius: 10px;
    }

    span:nth-child(1) {
      height: 3px;
      transform: translate(0, 8px) rotate(45deg);
    }

    span:nth-child(2) {
      height: 3px;
      transform: rotate(-45deg);
    }

    span:nth-child(3) {
      height: 3px;
      width: 100%;
      transform: translate(0, -7px) rotate(-45deg);
      visibility: hidden;
      opacity: 0;

    }
  }

  span {
    background: #3a3a3a;
    height: 2px;
    width: 100%;
    transition: height 0.3s ease, width 0.3s ease, transform 0.3s ease, border-radius 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;

    &:last-child {
      width: 23px;
    }
  }
}

.farba-header__socials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;

    li {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-right: 24px;

      border-right: 1px solid $line-color;
      box-sizing: border-box;

      &:last-child {
        padding-right: 0;
        padding-left: 24px;
        border-right: none;
      }

      a {
        font-family: $second-font;
        color: #3a3a3a;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;

      }
    }
  }
}

.farba-header__language {
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    height: 40px;

    li {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-right: 8px;

      border-right: 1px solid $line-color;
      box-sizing: border-box;

      &:last-child {
        padding-right: 0;
        padding-left: 8px;
        border-right: none;
      }

      &.active a {
        color: #18181f;
      }

      a {
        font-family: $second-font;
        color: #9c9c9c;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;

      }
    }
  }

}

img.lozad {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}

.svg-animated {
  text {
    transform-origin: 200px 200px;
    animation: rotatingText 8s linear infinite;
  }

  circle {
    transform-origin: 200px 200px;
    animation: rotatingCircle 8s linear infinite;
  }
}


@keyframes rotatingText {
  0% {

    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotatingCircle {
  0% {

    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media screen and (max-width: 1440px) {
  .farba-header__submenu > ul > li > a > p {
    font-size: 26px;
    line-height: 34px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .farba-header {
    padding: 0;
    height: 70px;
    width: 100%;
  }
  .farba-header__container {
    flex-direction: row;
    width: 100%;
  }
  .farba-header__socials {
    transform: translate(-50%, -50%) rotate(0);
  }
  .farba-header__language {
    width: auto;
  }
  .farba-header__socials ul {
    height: 20px;
  }
  .farba-header__socials ul li {
    padding-right: 20px;
  }

  .farba-header__socials ul li:last-child {
    padding-left: 20px;
  }
  .farba-header__language ul {
    height: 20px;
  }
  .farba-header__navigation {
    top: 70px;
    left: 0;
  }
  .farba-header__submenu > ul {
    flex-direction: column;
  }
  .farba-header__submenu > ul > li {
    border-right: none;
    border-bottom: 1px solid #626262;
  }
  .farba-header__menu {
    height: 61px;
  }
  .farba-header__submenu > ul > li:last-child {
    border-bottom: none;
  }

  .farba-header__menu > ul > li > a {
    font-size: 20px;
    line-height: 24px;
  }
  .farba-header__menu > svg.svg-animated {
    display: none;
  }

  .farba-header__submenu > ul > li > a > p {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
  }

  .farba__burger-button {
    width: 28px;
    height: 16px;
  }
  .farba__burger-button span:last-child {
    width: 17px;
  }
  .farba__burger-button.opened span:nth-child(1) {
    transform: translate(0, 7px) rotate(45deg);
  }
}

@media screen and (max-width: 345px) {
  .farba-header__menu > ul > li > a {
    font-size: 18px;
    line-height: 24px;
  }
  .farba-header__submenu > ul > li > a > p {
    font-size: 18px;
    line-height: 24px;
  }
  .farba-header__socials ul li a {
    font-size: 11px;
    line-height: 13px;
  }

  .farba-header__language ul li a {
    font-size: 12px;
    line-height: 14px;
  }

}

body.no-scroll {
  overflow: hidden;
}

.farba-footer {
  background: url("../img/footer-bg.png") no-repeat 30px 36px, $white-color;
  width: 100%;

  //padding-left: 100px;
  box-sizing: border-box;
}

.farba-footer__top-side {
  padding: 140px 0 140px 0;
  box-sizing: border-box;
  width: 100%;

  @media screen and (max-width: 1440px) {
    padding: 120px 0 120px 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

}

.farba-footer__bottom-side {
  border-top: 2px solid #e8e8e8;
  padding: 18px 0 18px 0;
  box-sizing: border-box;
  position: relative;

  > img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -53px);
  }

}

.farba-main {
  display: flex;
  flex-direction: column;
  width: 100%;

  > section {
    flex-grow: 1;
  }
}

.farba-footer__info-block {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  > h2 {
    font-family: $main-font;
    font-weight: 600;
    color: $grey-color;
    font-size: 48px;
    line-height: 49px;
    max-width: 426px;
  }

  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    > nav {
      padding: 10px 0 40px 40px;
      box-sizing: border-box;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 1px;
        background: #575552;
        opacity: 0.15;
        position: absolute;
        left: 0;
        top: 0;
      }

      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        width: 130px;
        background: #575552;
        opacity: 0.15;
        position: absolute;
        left: -25px;
        bottom: 25px;
      }

      > h6 {
        font-family: $main-font;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: $grey-color;
        text-transform: uppercase;
      }

      > ul {
        list-style: none;
        margin: 15px 0;

        li {
          text-decoration: none;
          font-family: $main-font;
          font-weight: 300;
          font-size: 20px;
          line-height: 26px;
          color: $grey-color;

          a {
            text-decoration: none;
            font-family: $main-font;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
            color: $grey-color;

            a:hover {
              text-decoration: underline;
              text-underline-position: from-font;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1440px) {
    > h2 {
      font-size: 36px;
      line-height: 42px;
      max-width: 350px;
    }
  }
}


.farba-footer__copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  box-sizing: border-box;

  > p {
    font-family: $main-font;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: $grey-color;
  }

  > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: $main-font;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: $grey-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    > img {
      margin-left: 8px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .farba-footer {
    background-size: 150px;
  }
}

@media screen and (max-width: 1225px) {
  .farba-footer__info-block > div > nav {
    padding: 6px 0 25px 25px;
  }

  .farba-footer__info-block > div > nav > ul li a {
    font-size: 16px;
  }
  .farba-footer__info-block > div > nav > h6 {
    font-size: 18px;
  }
  .farba-footer__info-block > h2 {
    font-size: 28px;
    line-height: 34px;
    max-width: 210px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .farba-footer__info-block > div > nav {
    padding: 6px 0 18px 18px;
  }
  .farba-footer__info-block > div > nav > ul {
    margin: 8px 0 14px;
  }

  .farba-footer__info-block {
    flex-direction: column;
    align-items: center;

    > h2 {
      max-width: none;
      text-align: center;
    }

    > div {
      width: 100%;
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .farba-footer__info-block > h2 {
    font-size: 42px;
  }
  .farba-footer {
    background-size: 120px;
  }
  .farba-footer__info-block > div {
    flex-wrap: wrap;
  }
  .farba-footer__info-block > div > nav {
    width: 33%;
    min-width: 180px;
    margin-top: 20px;
  }
  .farba-footer__top-side {
    padding: 80px 0;
  }
  .farba-footer__bottom-side {
    padding: 30px 0;
  }
}

@media screen and (max-width: 525px) {
  .farba-footer__info-block > div > nav > h6 {
    font-size: 20px;
  }
  .farba-footer__info-block > div > nav {
    padding: 10px 0 30px 30px;
    min-width: 200px;
  }
  .farba-footer__info-block > div > nav > ul li a {
    font-size: 20px;
  }
  .farba-footer__info-block > div > nav > ul li {
    font-size: 20px;
  }
  .farba-footer__copyright {
    flex-direction: column;
    align-items: center;

    > p {
      margin: 15px 0;
    }
  }

  .farba-footer__bottom-side {
    padding: 15px 0;
  }
}

@media screen and (max-width: 500px) {
  .farba-footer__info-block > div {
    flex-direction: column;
    align-items: center;
  }
}


// main part

.farba-main__farba-main-title {
  width: 100%;
  background: #242f3e;
  height: 100vh;
  position: relative;

  > img.lozad {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  background-size: cover;

}

.farba-main-title__container {
  width: 100%;
  position: relative;
  padding-top: 135px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.absolute-pos {
  position: absolute;
  right: 0;
  top: 135px;

  svg text {
    fill: $white-color;
    opacity: 0.8;
  }

  svg circle {
    stroke: $white-color;
    stroke-dasharray: 130%;
    opacity: 0.3;
  }
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  > ul {
    list-style: none;
    margin-top: 30px;

    > li {

      > p {
        font-family: $main-font;
        font-weight: normal;
        font-size: 55px;
        line-height: 55px;
        color: $white-color;

        > b {
          background: linear-gradient(57deg, rgb(180, 103, 26) 0%, rgb(244, 199, 136) 0%, rgb(231, 196, 137) 0%, rgb(202, 138, 90) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:last-child {
        display: flex;
        align-items: center;

        &::before {
          content: '';
          display: inline-block;
          width: 145px;
          height: 1px;
          opacity: 0.24;
          background: $white-color;
          margin-top: 14px;
          margin-right: 22px;
        }
      }

    }
  }
}

.farba-main-title__brand {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .farba-main__farba-main-title {
    overflow: hidden;
    height: 600px;
  }

  .absolute-pos {
    top: 50px;
    right: -40px;
  }
  .farba-main-title__brand {
    max-width: 180px;

    > a {
      width: 100%;

      > img {
        width: 100%;
      }
    }
  }

  .brand-container > ul > li > p {
    font-size: 48px;
  }

  .farba-main-title__container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 525px) {
  .farba-main-title__brand {
    max-width: 120px;
  }
  .absolute-pos {
    top: 10px;
    right: -50px;
  }

  .brand-container > ul > li > p {
    font-size: 42px;
  }
  .brand-container > ul > li:last-child::before {
    width: 95px;
  }
  .farba-main-title__container {
    padding-top: 40px;
  }
  .brand-container > ul {
    margin-top: 20px;
  }
  .farba-main__farba-main-title {
    height: 485px;
  }
}

@media screen and (max-width: 350px) {
  .farba-main-title__brand {
    max-width: 110px;
  }

  .brand-container > ul > li > p {
    font-size: 36px;
  }

  .brand-container > ul > li:last-child::before {
    width: 82px;
  }

  .absolute-pos {
    transform: scale(0.8);
  }
}

.farba-main__simple-block {
  width: 100%;
  position: relative;
  background: url("../img/footer-bg.png") no-repeat 100px 9%;
  background-size: 120px;

  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
  }

  .farba-svg-bg {
    position: absolute;
    width: 900px;
    height: 300px;
    top: 50%;
    right: 0;
    transform: translate(50px, -50px);

    > video {
      width: 100%;
    }

    svg {
      width: 100%;

      &.animated {
        .cls-1 {
          fill: transparent;
          stroke-width: 20;
          stroke: #f2f2f2;
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
          animation: letter-animation 6s linear forwards;
        }

        .cls-2 {
          fill: transparent;
          stroke-width: 20;
          stroke: #f2f2f2;
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
          animation: letter-animation 6s linear forwards;
          animation-delay: 2s;
        }

        .cls-3 {
          fill: transparent;
          stroke-width: 20;
          stroke: #f2f2f2;
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
          animation: letter-animation 6s linear forwards;
          animation-delay: 2.7s;
        }

        .cls-4 {
          fill: transparent;
          stroke-width: 20;
          stroke: #f2f2f2;
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
          animation: letter-animation 6s linear forwards;
          animation-delay: 3.4s;

        }

        .cls-5 {
          fill: transparent;
          stroke-width: 20;
          stroke: #f2f2f2;
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
          animation: letter-animation 6s linear forwards;
          animation-delay: 4.6s;

        }
      }
    }
  }

  @media screen and (max-width: 1440px) {
    background-position: 10px 7%;
    .farba-svg-bg {
      width: 55%;
      height: auto;
      top: auto;
      bottom: -50px;
    }
  }
  @media screen and (max-width: 768px) {
    .farba-svg-bg {
      bottom: 0;
    }
  }

  @media screen and (max-width: 525px) {
    .farba-svg-bg {

      width: 300px;

      > video {
        width: 140%;
      }

      svg {
        width: 140%;
      }
    }
  }
}

@keyframes letter-animation {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.simple-block__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 130px 0;
  box-sizing: border-box;

  .simple-block__img {
    width: 100%;
    max-width: 500px;
    height: 650px;
    background: #ededed;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
      width: 130%;
    }

  }

  .simple-block__text-part {
    flex-grow: 1;
    padding-left: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    h3 {
      font-family: $main-font;
      font-weight: normal;
      font-size: 55px;
      line-height: 60px;
      color: $title-color;
    }

    p {
      color: $p-color;
      font-family: $main-font;
      font-size: 24px;
      line-height: 34px;
      font-weight: 300;
      max-width: 570px;
      margin: 45px 0;

    }


  }

  @media screen and (max-width: 1440px) {
    padding: 80px 0;
    .simple-block__img {
      height: 480px;
      max-width: 420px;
      flex-shrink: 1;
    }
    .simple-block__text-part {
      padding-left: 60px;
    }
  }
  @media screen and (max-width: 1025px) {
    .simple-block__img {
      height: 380px;
      max-width: 320px;
    }
    .simple-block__text-part {
      padding-left: 45px;

      h3 {
        font-size: 48px;
        line-height: 54px;
      }

      p {
        margin: 25px 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    .simple-block__img {
      width: 100%;
      max-width: none;
      height: 500px;

      > img {
        width: 100%;
      }
    }

    .simple-block__text-part {
      padding-left: 0;
      padding-top: 40px;
      width: 100%;
    }
  }
  @media screen and (max-width: 525px) {
    .simple-block__img {
      height: 390px;

      > img {
        width: 110%;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .simple-block__img {
      height: 320px;

      > img {
        width: 110%;
      }
    }

    .simple-block__text-part {
      h3 {
        font-size: 42px;
        line-height: 48px;
      }

      p {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }

}


.link {

  text-decoration: none;
  color: $title-color;
  font-family: $main-font;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  max-width: 415px;
  border-radius: 37px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $title-color;
  background: transparent;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    background: $title-color;
    transition: color 0.3s ease, background-color 0.3s ease;
    color: $white-color;
    //text-transform: uppercase;
  }

  @media screen and (max-width: 1440px) {
    height: 68px;
    max-width: 380px;
  }
}

.trigger {
  opacity: 0;
  transform: translate(-400px, 0);
  @media screen and (max-width: 768px) {
    transform: translate(-250px, 0);
  }
}

.trigger .el-triggered {
  opacity: 0;
  transform: translate(0, 300px);
  @media screen and (max-width: 768px) {
    transform: translate(0, 150px);
  }
}


.farba-main__farba-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  box-sizing: border-box;
}

.farba-titled-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: $main-font;
    font-weight: normal;
    font-size: 70px;
    line-height: 76px;
    color: $title-color;
    text-align: center;
    position: relative;

    &::before {
      content: url("../img/footer-bg.png");
      display: inline-block;
      position: absolute;
      z-index: -1;
      width: 240px;
      transform: translate(-60%, -45%);

    }
  }

  p {
    font-family: $main-font;
    font-weight: 300;
    color: $p-color;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    max-width: 620px;
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 60px;
      line-height: 60px;

      &::before {
        width: 160px;
        transform: translate(-40%, -40%);
      }
    }
    p {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.farba-services__services-list {
  display: grid;
  width: 100%;
  padding-right: 45px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  padding-top: 60px;
  padding-bottom: 45px;
  @media screen and (max-width: 1200px) {
    grid-gap: 25px;
    padding-right: 25px;
  }

  @media screen and (max-width: 1060px) {
    grid-template-columns: 1fr;
    grid-gap: 35px;
    padding-right: 35px;
  }

  @media screen and (max-width: 768px) {
    grid-gap: 8px;
    padding-right: 0;
  }
}


.services-list__single-service {
  position: relative;
  width: 100%;
  height: 480px;
  padding: 65px;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '';
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: $black-color;
      z-index: 2;
      transition: opacity 0.3s ease;

    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .single-service__text-part {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    height: 82px;
    display: flex;
    padding-top: 40px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    transition: height 0.6s ease;

    h6 {
      font-family: $main-font;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
      color: $white-color;
    }

    p {
      font-size: 20px;
      font-family: $main-font;
      font-weight: 300;
      line-height: 28px;
      color: $p-white;
      margin: 20px 0 25px;
      max-width: 440px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease, visibility 0.2s ease;
    }

    span {
      border-color: $white-color;
      color: $white-color;
      flex-shrink: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease, visibility 0.2s ease;

      &:hover {
        border-color: $white-color;
        color: $white-color;
        background: transparent;
      }
    }

  }

  &:hover {
    .img-container {
      &::before {
        opacity: 0.6;
        transition: opacity 0.3s ease;
      }
    }

    .single-service__text-part {
      height: 100%;
      transition: height 0.6s ease;

      p {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.6s ease, opacity 0.6s ease;
      }

      span {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.6s ease, opacity 0.6s ease;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    height: 370px;
    padding: 32px;

    .single-service__text-part {
      padding-top: 0;
      height: 42px;

      h6 {
        font-size: 28px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: 350px;
    padding: 30px 15px 0;
    .single-service__text-part {
      padding-top: 0;
      height: 64px;

      h6 {
        font-size: 28px;
        line-height: 32px;
      }

      p {
        font-size: 20px;
        line-height: 24px;
        margin: 15px 0 20px;
      }

      span {
        height: 48px;
        margin: 0 1px;
        box-sizing: border-box;
      }
    }
  }
  @media screen and (max-width: 375px) {
    height: 290px;
    .single-service__text-part {
      padding-top: 0;
      height: 56px;

      h6 {
        font-size: 24px;
        line-height: 28px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0 20px;
      }

      span {
        height: 42px;
        margin: 0 1px;
        box-sizing: border-box;
      }
    }
  }

}

.farba-main__farba-reasons {
  width: 100%;
  padding: 60px 0 200px;
  box-sizing: border-box;

  .link.link--orange {
    margin: auto;
  }

  @media screen and (max-width: 1220px) {
    padding: 60px 0 120px;
  }
  @media screen and (max-width: 425px) {
    padding: 60px 0;
  }
}

.farba-reasons__reasons-list {
  width: 100%;
  margin: 100px 0 180px;
  //box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 190px;
  grid-row-gap: 20px;

  &::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 150px;
    position: absolute;
    background: #e8e8e8;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media screen and (max-width: 1440px) {
    grid-column-gap: 130px;
    margin: 80px 0 140px;

    &::after {
      height: 110px;
    }
  }

  @media screen and (max-width: 1220px) {
    grid-column-gap: 80px;
  }

  @media screen and (max-width: 768px) {
    grid-column-gap: 60px;
  }

  @media screen and (max-width: 575px) {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

.link.link--orange {
  background: rgb(215, 151, 97);
  border: none;
  color: $white-color;
  box-shadow: inset 200px 0 274px -144px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  //transform: translate(0, -3px);
  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(57deg, rgb(197, 136, 89) 0%, rgb(210, 161, 75) 0%, rgb(192, 126, 75) 0%, rgb(195, 128, 71) 100%);
    z-index: -1;
    right: 0;
    bottom: -5px;
    top: 5px;
    left: 0;
    border-radius: 37px;
    border-color: transparent;
    transition: top 0.3s ease, bottom 0.3s ease, left 0.3s ease, right 0.3s ease;
  }


  &:hover {
    color: $orange-color;
    background: $white-color;
    box-shadow: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

    &::after {
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      transition: top 0.3s ease, bottom 0.3s ease, left 0.3s ease, right 0.3s ease;

    }
  }
}

.reasons-list__single-reason {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 320px;
  margin-bottom: 60px;

  h5 {
    font-family: $second-font;
    font-weight: 600;
    font-size: 120px;
    line-height: 120px;
    background: linear-gradient(-139deg, #b4671a 25%, #f4c788 63%, #e7c489 50%, #ca8a5a 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &::before, &::after {
      display: inline-block;
      content: '';
      height: 1px;
      background: #e8e8e8;
      width: 100%;
      flex-shrink: 1;
    }

    @media screen and (max-width: 1220px) {
      background: linear-gradient(57deg, rgb(180, 103, 26) 28%, rgb(244, 199, 136) 28%, rgb(231, 196, 137) 28%, rgb(202, 138, 90) 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &::before {
      margin-right: 25px;
    }

    &::after {
      margin-left: 25px;
    }
  }

  h6 {
    font-family: $main-font;
    font-weight: 600;
    color: #464646;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
    margin-top: 30px;


  }

  p {
    font-family: $main-font;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: $p-color;
    margin-top: 25px;
    text-align: center;
    max-width: 537px;
  }

  @media screen and (max-width: 992px) {

    h5 {
      background: linear-gradient(57deg, rgb(180, 103, 26) 24%, rgb(244, 199, 136) 24%, rgb(231, 196, 137) 50%, rgb(202, 138, 90) 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h6 {


      font-size: 30px;
      line-height: 28px;
      margin-top: 25px;
    }
    p {
      font-size: 18px;
      line-height: 22px;
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 575px) {
    min-height: auto;
  }
  @media screen and (max-width: 360px) {
    h5 {
      font-size: 90px;
      line-height: 90px;
    }
    h6 {
      margin-top: 15px;
    }
  }
}


.farba-main__farba-advices {
  width: 100%;
  padding: 230px 0;
  box-sizing: border-box;
  background: url('../img/advices-bg.png') no-repeat right 250px, url('../img/advices-farba.png') no-repeat right 100px, #f9f8f4;
  z-index: 1;
  background-size: 800px, 600px;

  @media screen and (max-width: 1650px) {
    background-size: 40%, 35%;
    padding: 170px 0;
  }

  @media screen and (max-width: 1280px) {
    background: url('../img/advices-bg.png') no-repeat right bottom, url('../img/advices-farba.png') no-repeat right 100px, #f9f8f4;
    background-size: 45%, 40%;

  }
  @media screen and (max-width: 992px) {

  }
}

.farba-advices__container {
  width: 100%;
  max-width: 50%;

  p {
    font-size: 20px;
    line-height: 28px;
    font-family: $main-font;
    font-weight: 300;
    margin: 30px 0;
    color: $p-color;

    > small {
      font-size: 24px;
      line-height: 28px;
      color: $title-color;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        width: 80px;
        height: 1px;
        opacity: 0.15;
        background: $title-color;
        margin-right: 15px;
      }
    }
  }

  h5 {
    font-family: $main-font;
    color: $title-color;
    font-size: 70px;
    line-height: 51px;
    font-weight: 600;
  }
}


// main part



